# this means - pay attention to setting in file ".node-version"
#   but it screws up volta's own handling of node versions, DO NOT ENABLE!!
# use-node-version=true

# in tandem with package.json "engines" setting, makes sure we're using pnpm vs npm
engine-strict=true

package-manager=pnpm@10.28.0