$data-grid-header-height: 33px;
$data-grid-footer-height: 52px;

.MuiDataGrid-columnHeaders {
  min-height: $data-grid-header-height !important;
  max-height: $data-grid-header-height !important;
  height: $data-grid-header-height !important;
}

.MuiDataGrid-footerContainer {
  min-height: $data-grid-footer-height !important;
  max-height: $data-grid-footer-height !important;
  height: $data-grid-footer-height !important;
}