.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 0;
}

.email-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--email-list-container-bg, #121212);
  overflow: hidden;
  height: 100%;
  min-height: 0;
}

.email-list-container a {
  color: var(--email-list-container-a, unset);
}

.email-list-container a:hover {
  text-decoration: underline !important;
}

